(
    show_hierarchy: Some(true),
    show_menu: Some(true),
    show_ticks: None,
    show_toolbar: Some(true),
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    waves: Some((
        source: File("/Users/damien/workspace/hdl/axi-crossbar/test/svut/axicb_crossbar_top_testbench.fst"),
        format: Fst,
        active_scope: Some((
            strs: [
                "axicb_crossbar_top_testbench",
                "dut",
                "switchs",
                "MST_SWITCHS_GEN[0]",
                "mst_switch",
                "mst_switch_wr",
            ],
        )),
        displayed_items_order: [
            (1),
            (2),
            (11),
            (3),
            (4),
            (5),
            (6),
            (10),
            (7),
            (8),
        ],
        displayed_items: {
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "i_awvalid",
                ),
                color: Some("pink"),
                background_color: None,
                display_name: "i_awvalid [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "i_awready",
                ),
                color: None,
                background_color: None,
                display_name: "i_awready [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "o_bready",
                ),
                color: None,
                background_color: None,
                display_name: "o_bready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "o_bvalid",
                ),
                color: None,
                background_color: None,
                display_name: "o_bvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "aresetn",
                ),
                color: None,
                background_color: None,
                display_name: "aresetn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "o_awvalid",
                ),
                color: None,
                background_color: None,
                display_name: "o_awvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "aclk",
                ),
                color: None,
                background_color: None,
                display_name: "aclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "axicb_crossbar_top_testbench",
                            "dut",
                            "switchs",
                            "MST_SWITCHS_GEN[0]",
                            "mst_switch",
                            "mst_switch_wr",
                        ],
                    ),
                    name: "o_awready",
                ),
                color: None,
                background_color: None,
                display_name: "o_awready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 11,
        viewports: [
            (
                curr_left: (0.5579130859374998),
                curr_right: (0.5588896484374998),
            ),
        ],
        cursor: Some((1, [
            50118000,
        ])),
        right_cursor: None,
        markers: {},
        focused_item: Some((3)),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    ui_zoom_factor: None,
)