Jinja2==3.1.6
linkify-it-py==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.5.0
mdurl==0.1.2
platformdirs==4.9.6
Pygments==2.20.0
rich==15.0.0
textual==8.2.3
typing_extensions==4.15.0
uc-micro-py==2.0.0
